# from Laravel
/bootstrap/compiled.php
/vendor
composer.phar
composer.lock
.env.*.php
.env.php

# added from the old .gitignore
.env

# PhpStorm
.idea/

# assets of packages in the public directory
/public/packages
